body
{
  background-color:powderblue;

}
h1
{
  color:red;
}
h2
{
  color:red;
}
h3{
  color:red;
}
input:hover{
  background-color:grey;

}
hr{
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:5px;
  width:5%;
}
